.footer {
  background-color: #000000;
  padding: 0.5rem 0;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
}

.li {
  list-style: none;
}
.a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}
.copy {
  margin: 1.5rem 0 0;
  text-align: center;
  color: #ffffff;
  font-style: italic;
}
