@tailwind base;
@tailwind components;
@tailwind utilities;

.cartMenuPrice {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000,
    -2px 2px 2px #000;
  letter-spacing: 3px;
}
