/* header  */
.header {
  background-color: #ffffff;
}

/* tittle */
.title {
  margin: 0;
  padding: 0.3rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 0 10px #000000;
  cursor: pointer;
}
