@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: rgb(109, 160, 160);
}
.picture {
  mix-blend-mode: darken;
}
.www {
  width: 35%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: darken;
}
