.food-section {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin: 4rem 2rem;
}

.food-card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
}
.food-card > img {
  width: 298px;
  height: 180px;
}
:where(main) :where(h1) {
  color: red;
}
