/* .inputSec {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.title {
  color: gray;
  text-shadow: 2px 2px 4px #ffffff;
  text-align: center;
}

.inputSec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0 14.3rem;
}

.inputSec > label {
  color: #6d6d6d86;
}

.inputSec > input,
button {
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.inputSec > input {
  color: #b4b4b4;
  border: 1px solid #bfbebe;
}

.inputSec > button {
  border: 1px solid black;
  color: #fcfcfc;
  background-color: #5e5e5e;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.inputSec > button:hover {
  color: #5e5e5e;
  background-color: #fcfcfc;
  transition-duration: 0.5s;
}
