/* header  */
.header {
  background-color: #ffffff;
}

/* tittle */
.title {
  margin: 0;
  padding: 0.3rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 0 10px #000000;
  cursor: pointer;
}

/* main  */
.main {
  width: 60%;
  margin: 1rem auto;
}

/* clock  */
.clock {
  margin: 2rem auto;
  border-radius: 0.5rem;
  width: 280px;
  padding: 0.3rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 0 10px #000000;
  background-color: #ffffff;
}

.mainHeader {
  color: #838383;
  margin: 1.5rem 0;
}

/* section  */
.section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* textarea */
.textarea {
  color: #3e3e3e;
  letter-spacing: 0.6px;
  font-size: 1.3rem;
  line-height: 2rem;
  outline: none;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
}

/* button  */
.button {
  outline: none;
  border: 1px solid #000000;
  color: #ffffff;
  padding: 0.6rem;
  border-radius: 0.4rem;
  background-color: #040404;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
  transition-duration: 0.5s;
}

/* text  */
.text {
  margin: 1rem 0;
  color: #3e3e3e;
  letter-spacing: 0.6px;
  font-size: 1.3rem;
  line-height: 2rem;
  height: 150px;
}

.footer {
  background-color: #000000;
  padding: 0.5rem 0;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
}

.li {
  list-style: none;
}
.a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}
.copy {
  margin: 1.5rem 0 0;
  text-align: center;
  color: #ffffff;
  font-style: italic;
}
