@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-center font-mono font-semibold text-xl py-2;
}

form {
  @apply flex flex-col gap-4;
}

input {
  @apply outline-none py-2  px-4 border border-gray-300
  text-gray-500 rounded;
}

button {
  @apply outline-none border border-slate-700 py-2 text-xs
  uppercase font-semibold rounded duration-100 bg-slate-700
  px-4 text-gray-700 hover:bg-gray-500 hover:text-white;
}

p {
  @apply text-xs font-semibold text-right py-3 capitalize space-x-1
   text-gray-700;
}

@layer components {
  .login_register_style {
    @apply grid place-items-center h-screen;
  }
  .form_div_style {
    @apply p-6 shadow-2xl bg-gray-50 rounded-sm;
  }
  .error_style {
    @apply bg-red-600 text-white text-xs font-sans font-bold 
    py-[5px] px-4 rounded-md my-2 inline-block;
  }
  .form_text {
    @apply flex items-center justify-end;
  }
  .form_link {
    @apply text-blue-700 underline ml-2 font-bold text-xs;
  }
}
