/* header  */
.header {
  background-color: #ffffff;
  box-shadow: 0 0 10px #000000;
}

/* navbar style  */
.nav {
  width: 75%;
  margin: 0 auto;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* tittle */
.title {
  margin: 0;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  cursor: pointer;
}

/* ul style  */
.ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  font-weight: 600;
}

/* link style */
.link {
  color: gray;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  color: #272424;
  transition-duration: 0.5s;
}

/* main  */
.main {
  width: 75%;
  padding: 2rem 0;
  /* height: 100vh; */
  margin: 0 auto;
  /* background-color: aqua; */
}

/* footer style  */
.footer {
  background-color: #272424;
}
.footer p {
  color: #ffffff;
  padding: 0.8rem 0;
  font-weight: 500;
  font-size: 12;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
}
